<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.ad.yeyoo">

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android 5.0以上蓝牙好需要位置权限 -->
    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- USB通讯用 -->
    <uses-feature
            android:name="android.hardware.usb.host"
            android:required="true" />

    <uses-permission
            android:name="android.permission.HARDWARE_TEST"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />

    <!-- 允许一个程序接收到ACTION_BOOT_COMPLETED 广播在系统完成启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 网络通讯用 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name="com.ad.yeyoo.base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.ad.yeyoo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
                android:name=".business.BusinessMainActivity"
                android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
                android:name="com.ad.yeyoo.comm.ConnectBaseActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ConnectBleActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ConnectSppActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ConnectRs232Activity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ConnectTcpActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ConnectHidActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ConnectCdcActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ble.SppDeviceScanActivity"
                android:configChanges="orientation|locale|keyboardHidden"
                android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>

        <activity
                android:name="com.ad.yeyoo.comm.ble.BleDeviceScanActivity"
                android:configChanges="orientation|locale|keyboardHidden"
                android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>

        <activity
                android:name="com.ad.yeyoo.ProtocolActivity"
                android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.mm.MMMainActivity"
                android:windowSoftInputMode="adjustPan"></activity>
        <activity
                android:name="com.ad.yeyoo.mm.MMDemoActivity"
                android:windowSoftInputMode="adjustPan"></activity>
        <activity
                android:name="com.ad.yeyoo.mm.MMISO6CActivity"
                android:windowSoftInputMode="adjustPan"></activity>
        <activity
                android:name="com.ad.yeyoo.mm.MMParaActivity"
                android:windowSoftInputMode="adjustPan"></activity>
        <activity
                android:name="com.ad.yeyoo.mm.MMSeniorActivity"
                android:windowSoftInputMode="adjustPan"></activity>
        <activity
                android:name="com.ad.yeyoo.business.BusinessRelationActivity"
                android:theme="@android:style/Theme.Light.NoTitleBar"
                android:windowSoftInputMode="stateHidden"></activity>
        <activity
                android:name="com.ad.yeyoo.business.BusinessGongxuActivity"
                android:theme="@android:style/Theme.Light.NoTitleBar"
                android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.ad.yeyoo.business.BusinessChukuActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
                android:name="com.ad.yeyoo.business.BusinessMainActivity"
                android:theme="@android:style/Theme.Light.NoTitleBar"
                android:windowSoftInputMode="adjustPan"></activity>

        <service android:name=".business.ScanService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

    </application>

</manifest>